In [25]:
import pandas as pd
heart_failure=pd.read_csv("heart_failure.csv")
heart_failure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(heart_failure,heart_failure["DEATH_EVENT"],test_size=0.2)
x_train.describe()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
count,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000
mean,61.076711,0.426778,555.953975,0.426778,37.895397,0.355649,259825.249749,1.403933,136.702929,0.661088,0.309623,125.121339,0.359833
std,12.034931,0.495648,888.395883,0.495648,12.216256,0.479714,99801.969001,1.029868,4.452319,0.474333,0.463309,76.245608,0.480958
min,40.000000,0.000000,23.000000,0.000000,14.000000,0.000000,47000.000000,0.600000,113.000000,0.000000,0.000000,4.000000,0.000000
25%,51.000000,0.000000,115.000000,0.000000,30.000000,0.000000,204000.000000,0.950000,134.000000,0.000000,0.000000,65.000000,0.000000
50%,60.000000,0.000000,260.000000,0.000000,38.000000,0.000000,260000.000000,1.100000,137.000000,1.000000,0.000000,110.000000,0.000000
75%,70.000000,1.000000,582.000000,1.000000,45.000000,1.000000,300500.000000,1.500000,140.000000,1.000000,1.000000,196.000000,1.000000
max,95.000000,1.000000,7702.000000,1.000000,80.000000,1.000000,850000.000000,9.400000,148.000000,1.000000,1.000000,278.000000,1.000000

Because it's clustering that we want to perform, I keep DEATH_EVENT as a referential y-axis to compare results to. However this column won't be used in the model fitting at all, so in the next step i got rid of it in a train set

In [27]:
x_train=x_train.drop("DEATH_EVENT",axis=1)
x_train.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
115,58.0,1,400,0,40,0,164000.00,1.0,139,0,0,91
243,73.0,1,1185,0,40,1,220000.00,0.9,141,0,0,213
233,53.0,1,707,0,38,0,330000.00,1.4,137,1,1,209
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4
140,80.0,0,805,0,38,0,263358.03,1.1,134,1,0,109

In [28]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import normalize
import pandas as pd

# pip=Pipeline([
#     ("normalizer",Normalizer())
# ])
# x_train_prepared=pip.fit_transform(x_train)
# x_train_prepared.show()

x_train_prepared=pd.DataFrame(normalize(x_train),columns=x_train.columns)
x_train_prepared.head()

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time
0,0.000354,0.000006,0.002439,0.0,0.000244,0.000000,0.999996,0.000006,0.000848,0.000000,0.000000,0.000555
1,0.000332,0.000005,0.005386,0.0,0.000182,0.000005,0.999985,0.000004,0.000641,0.000000,0.000000,0.000968
2,0.000161,0.000003,0.002142,0.0,0.000115,0.000000,0.999997,0.000004,0.000415,0.000003,0.000003,0.000633
3,0.000283,0.000000,0.002196,0.0,0.000075,0.000004,0.999997,0.000007,0.000491,0.000004,0.000000,0.000015
4,0.000304,0.000000,0.003057,0.0,0.000144,0.000000,0.999995,0.000004,0.000509,0.000004,0.000000,0.000414

Data in the dataset had different values and different measures, and to apply clustering model, I had to normalize them- apply the same scale to all of them, so it's easier to compare them somehow

In [29]:
from sklearn.cluster import KMeans
from sklearn.metrics import accuracy_score
kmeans=KMeans(n_clusters=2)
kmeans.fit(x_train_prepared)
score = accuracy_score(y_train,kmeans.predict(x_train))
score

0.6317991631799164

I've chose two different clustering methos, one with defined number of clusters at the beggining, and one without it. I assumed that we will have just two clusters, because what we want to get is a death event or not.

In [30]:
from sklearn.metrics

SyntaxError: invalid syntax (Temp/ipykernel_23848/938813759.py, line 1)

In [31]:
x_test=x_test.drop("DEATH_EVENT",axis=1)
x_test_prepared=pd.DataFrame(normalize(x_test),columns=x_test.columns)
test_score = accuracy_score(y_test,kmeans.predict(x_test))

In [32]:
test_score

0.8

In [38]:
y_predicted=kmeans.predict(x_test)
y_predicted

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [39]:
y_test.array

<PandasArray>
[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0,
 0, 0, 0, 0, 0, 1, 0, 0]
Length: 60, dtype: int64

After comparison with seperately kept original y-axis, honestly, result aren't overwhelming. It seems it works better with detecing non-death events, which is not really helpfull, because it misses a lot of cases when we actually have death result

In [40]:
from sklearn.mixture import GaussianMixture
gaussian_model = GaussianMixture()
gaussian_result=gaussian_model.fit(x_train_prepared)
score = accuracy_score(y_train,gaussian_model.predict(x_train_prepared))
score

C:\Users\Asus\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:881: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

0.6401673640167364

In [41]:
test_score_gaussian = accuracy_score(y_test,gaussian_model.predict(x_test))
test_score_gaussian

0.8333333333333334

As mentioned before, just a test with different model, without defined number of clusters before.